---
layout: default
title: Feedbin Help
class: home
description: Feedbin's Help Center. Answers, tips and documentation for using Feedbin.
---

<div class="main-content clearfix">
	<div class="container">
		<div class="inner-content">
			<h1>Browse by Topic</h1>
		</div>
		<div class="content-wrap">
			{% for category in site.categories %}
				{% assign category_slug = category[0] %}
				<h2 class="category">{{ category_slug | replace: '-', ' ' | titleize }}</h2>
				<ul class="article-list">
					{% for page in site.categories[category_slug] %}
						<li>
							<h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
						</li>
					{% endfor %}
				</ul>
			{% endfor %}
		</div>
		<div class="sidebar">
			<h2>Get in Touch</h2>
			<ul>
				<li class="sidebar-icon icon-twitter"><a href="https://twitter.com/intent/tweet?text=@feedbin%20">Ask a question on Twitter</a></li>
				<li class="sidebar-icon icon-email"><a href="mailto:support@feedbin.com">Send an email to support</a></li>
				<li class="sidebar-icon icon-github"><a href="https://github.com/feedbin/support/issues">Open a support request</a></li>
				<li class="sidebar-icon icon-rss"><a href="http://blog.feedbin.com">Feedbin Blog</a></li>
			</ul>
		</div>
	</div>
</div>
