/*----------------------------------------------
  Reset
----------------------------------------------*/
*,*:before,*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display: block;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,
q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button,
input {
	line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="search"],
input[type="tel"] {
	-webkit-appearance: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
	cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
}


/*----------------------------------------------
  HTML
----------------------------------------------*/
body {
	background-color: #efefef;
	padding: 20px;
	margin: 0;
	color: #333;
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
}

a {
	text-decoration: none;
	outline: none;
	color: #3399ff;
}

a:hover {
	color: #2877c6;
	text-decoration: underline;
}

em, cite {
	font-style: normal;
}

strong {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-bottom: 1em;
}

h1 {
	font-size: 40px;
	margin-bottom: 1em;
	font-weight: 300;
	line-height: 1.2;
}

h1 a,
h1 a:link,
h1 a:visited {
	color: #333;
}

h1 a:hover {
	color: #333;
	text-decoration: underline;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: .4em;
}

h2.category {
	border-bottom: 1px solid #CCC;
	margin-bottom: .5em;
}

h1.interior-header {
	padding-bottom: 8px;
	border-bottom: 1px solid #CCC;
	margin-bottom: .8em;
}

img {
	margin: 0 0 10px 0;
	display: block;
	width: 100%;
	max-width: 100%;
}

code {
	color: #333;
    word-break: break-all;
}

pre code {
	display: block;
	background-color: whiteSmoke;
	overflow-x: scroll;
	white-space: pre;
	word-wrap: normal;
}

code, pre {
	font-family: Consolas, Monaco, monospace;
}

blockquote p {
	color: #666;
}

blockquote {
	padding: 0 0 0 20px;
	border-left: 5px solid #CCC;
}

p,
ul,
ol,
pre {
	margin: 0 0 16px 0;
}

li {
	margin-left: 20px;
	list-style-type: disc;
}

code {
	font-family: Consolas, monospace;
	margin: 0 2px;
	padding: 0px 5px;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	white-space: nowrap;
}

iframe {
	margin: 0;
	height: 541px;
	width: 962px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	margin: 0;
	border: 1px solid #CCC;
	font-size: 16px;
	width: 100%;
	color: #333;
	display: inline-block;
	line-height: 16px;
	padding: 12px;
	vertical-align: middle;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input:focus {
	outline: none;
	border-color: #3399ff;
}


table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

table {
	max-width: 100%;
	background-color: transparent;
}

th {
	text-align: left;
}

table {
	width: 100%;
	margin-bottom: 20px;
}

thead > tr > th,
tbody > tr > th,
tfoot > tr > th,
thead > tr > td,
tbody > tr > td,
tfoot > tr > td {
	padding: 8px;
	line-height: 1.428571429;
	vertical-align: top;
	border-top: 1px solid #dddddd;
}

thead > tr > th {
	vertical-align: bottom;
}

caption + thead tr:first-child th,
colgroup + thead tr:first-child th,
thead:first-child tr:first-child th,
caption + thead tr:first-child td,
colgroup + thead tr:first-child td,
thead:first-child tr:first-child td {
	border-top: 0;
}

tbody + tbody {
	border-top: 2px solid #dddddd;
}

{
	background-color: #ffffff;
}

.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
	padding: 5px;
}

.table-bordered {
	border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
	border: 1px solid #dddddd;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: #f5f5f5;
}

table col[class^="col-"] {
	display: table-column;
	float: none;
}

table td[class^="col-"],
table th[class^="col-"] {
	display: table-cell;
	float: none;
}


/*----------------------------------------------
  Layout
----------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}

.half {
	width: 50%;
	float: left;
}
/*----------------------------------------------
  Structure
----------------------------------------------*/

.logo {
	display: block;
	color: #999;
	margin-bottom: 20px;
	width: 350px;
	float: left;
}

.logo img {
	max-width: 167px;
	float: left;
}

.logo .sub-head {
	display: block;
	float: left;
	border-left: 1px solid #CCC;
	margin: 0 0 0 18px;
	padding: 6px 0 6px 18px;
	font-size: 16px;
	font-weight: bold;
}

a:hover.logo {
	color: #999;
	text-decoration: none;
}

header form {
	width: 100%;
	padding-left: 350px;
}

.container {
	width: 100%;
	max-width: 960px;
}

.main-content {
	width: 100%;
	max-width: 962px;
	background-color: #FFF;
	border: 1px solid #CCC;
	margin: 0 auto;
	padding: 50px 0;
}

.content-wrap {
	padding: 0 36px 0 85px;
	float: left;
	width: 69%;
}

.sidebar {
	float: right;
	width: 31%;
	padding-right: 85px;
}

.inner-content {
	padding: 0 85px;
}

.sidebar {
	font-size: 14px;
}

.sidebar h2 {
	font-size: 18px;
	padding-top: 12px;
	font-weight: normal;
}

.sidebar ul {
	margin: 0;
	padding: 0;
}

footer {
	font-size: 12px;
	color: #999999;
	padding: 15px 0 0 0;
}

footer a {
	color: #999999;
}

footer a:hover {
	color: #999999;
	text-decoration: underline;
}

/*----------------------------------------------
  Helpers
----------------------------------------------*/
table code {
	font-size: 12px;
}
.key {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #CCC;
	width: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #CCC;
}

.key.wide {
	width: 70px;
}

.video-container {
	max-width: 962px;
	max-height: 541px;
	border: 1px solid #CCC;
	border-bottom: none;
	margin: 0 auto;
	background-color: #000;
}

.article-list {
	margin: 0 0 15px 0;
	padding: 0;
}

.article-list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.article-list li h3 {
	font-size: 18px;
	font-weight: normal;
	margin: 0;
}

.article-list li p {
	font-size: 14px;
	font-weight: normal;
	margin: 0 0 10px 0;
	color: #999;
}

.article-list li p em {
	font-weight: bold;
	font-style: normal;
	color: #666;
}

.footer-meta {
	font-size: 12px;
	color: #999;
	border-top: 1px solid #CCC;
	padding-top: 8px;
	margin-top: 40px;
}

.right-text {
	text-align: right;
}

.por {
	position: relative;
}

.page-meta {
	font-size: 15px;
	line-height: 1.4;
	color: #999;
	margin-bottom: 15px;
}

/*----------------------------------------------
  Icons
----------------------------------------------*/

.icon-github-small {
	background: url(/assets/images/icon-github-small.svg) 0 0 no-repeat;
	background-size: 20px 20px;
	line-height: 20px;
	padding-left: 25px;
	display: inline-block;
}

.sidebar-icon {
	margin: 0;
	list-style-type: none;
	margin-bottom: 10px;
}

.sidebar-icon a {
	display: block;
	position: relative;
	padding-left: 40px;
	list-style-type: none;
	line-height: 30px;
}

.sidebar-icon a:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 30px;
	width: 30px;
	border-radius: 4px;
	background-color: #666666;
	content: "";
}

.icon-twitter a:before, .icon-email a:before, .icon-github a:before, .icon-rss a:before {
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.icon-twitter a:before {
	background-image: url(/assets/images/icon-twitter.svg);
}

.icon-email a:before {
	background-image: url(/assets/images/icon-email.svg);
}

.icon-github a:before {
	background-image: url(/assets/images/icon-github.svg);
}

.icon-rss a:before {
	background-image: url(/assets/images/icon-rss.svg);
}

@media (max-width: 965px) {
	.sidebar-icon a {
		line-height: 1;
	}
}

@media (max-width: 700px) {
	.sidebar {
		padding-right: 20px;
	}
	.inner-content {
		padding: 0 20px;
	}
	.content-wrap {
		padding: 0 20px;
	}
}

@media (max-width: 540px) {
	body {
		padding: 10px 0;
		font-size: 16px;
	}

	h1 {
		font-size: 30px;
	}

	.main-content {
		border: none;
		padding: 15px 0;
	}

	.inner-content {
		padding: 0;
	}

	.container {
		padding: 0 15px;
	}

	footer {
		text-align: center;
	}

	.half {
		float: none;
		text-align: center;
		width: auto;
	}

	.content-wrap {
		padding: 0;
		width: 100%;
	}

	.sidebar {
		display: none;
	}

	.logo {
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}

	.logo img {
		float: none;
		margin: 0 auto 10px auto;
	}

	.logo .sub-head {
		display: block;
		float: none;
		margin: 0 auto;
		text-align: center;
		padding: 0;
		border: none;
	}

	header form {
		width: 100%;
		padding: 0;
		margin-bottom: 15px;
	}

	.video-container {
		border: none;
	}
}
