<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="description" content="{{page.description}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/assets/stylesheets/css.css?{{ site.time | date: "%Y%m%d%H%M%S" }}" />
</head>
<body class="{{ page.class }}">
	<header>
		<div class="container">
			<a href="/" class="logo clearfix">
				<img src="/assets/images/logo.svg" />
				<span class="sub-head">Help Center</span>
			</a>
			<form action="/search/" method="get">
				<input type="search" name="query" value="" placeholder="Search Feedbin Help" />
			</form>
		</div>
	</header>
	{{ content }}
	<footer>
		<div class="container">
			<div class="half">
				<a href="http://blog.feedbin.me">Blog</a> | <a href="https://feedbin.me/apps">Apps</a> | <a href="http://help.feedbin.me">Help</a> | <a href="https://github.com/feedbin/feedbin-api#readme">API</a> | <a href="https://feedbin.me/privacy_policy">Privacy Policy</a>
			</div>
			<div class="half right-text">
				<a href="mailto:support@feedbin.me">Email</a> | <a href="https://twitter.com/feedbin">Twitter</a> | <a href="https://github.com/feedbin">GitHub</a>
			</div>
		</div>
		<div class="container">
			© {{ site.time | date: "%Y" }} Feedbin, Inc.
		</div>
	</footer>
	<script src="/assets/javascripts/lib.js?{{ site.time | date: "%Y%m%d%H%M%S" }}"></script>
	<script src="/assets/javascripts/js.js?{{ site.time | date: "%Y%m%d%H%M%S" }}"></script>
	<script>
	  var _gauges = _gauges || [];
	  (function() {
	    var t   = document.createElement('script');
	    t.type  = 'text/javascript';
	    t.async = true;
	    t.id    = 'gauges-tracker';
	    t.setAttribute('data-site-id', '528ea72d108d7b0df6000003');
	    t.src = '//secure.gaug.es/track.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(t, s);
	  })();
	</script>
</body>
</html>
