---
layout: default
---

{% if page.video %}
<div class="video-container">
	<iframe src="//player.vimeo.com/video/{{ page.video }}" width="962" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
{% endif %}
<div class="main-content clearfix">
	<div class="container">
		<div class="inner-content">
			<h1 class="interior-header">{{ page.title }}</h1>
			{{ content }}
			<div class="footer-meta">
				<div class="half">
					Last modified: <time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%B %d, %Y" }}</time>
				</div>
				<div class="half right-text">
					<a href="https://github.com/feedbin/feedbin-help/blob/master/{{ page.path }}" class="icon-github-small">Suggest an Edit</a>
				</div>
			</div>
		</div>
	</div>
</div>